<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Curso AngularJS</title>

	<!--para fazer o cloak o script do angular deve estar aqui no head, (segundo a documentação)-->
	<script src="js/angular/angular.min.js"></script>

	<style>

	/*copiei esse pedaço de código da documentação: https://docs.angularjs.org/api/ng/directive/ngCloak*/
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
 		 display: none !important;
 	}

	.classNgClass {
		font-size: 50px;
		color: red;
	}
	</style>

</head>
<body>

	<div ng-controller="Aula12Controller">
		<h1>ngShow e ngHide</h1>

		<div ng-show="mostrar">Este bloco é exibido quando mostrar = true</div>
		<div ng-hide="mostrar">Este bloco é exibido quando mostrar = false</div>
		<div ng-show="!mostrar">Este bloco é exibido quando mostrar = !true</div>

		<input type="checkbox" ng-model="mostrar"/>Selecionado: mostrar = true

		<h1>Elemento A</h1>
		<a href="" ng-click="">Abrir nova página</a>

		<h1>ngBindHTML</h1>

		{{ variavelHTML }} <!--exibe apenas o conteúdo da variável-->

		<p ng-bind-html="variavelHTML"></p> <!--exibe o html através da diretiva ng-bind-html utilizando o arquivo angular-sanitize-->

		<h1>ngClass</h1>
		<button type="button" ng-click="minhaClass='classNgClass'">Add Class</button>

		<button type="button" ng-click="minhaClass=''">Remove Class</button>

		<div ng-class="minhaClass">Div para testes</div>

		<!--ngCloak ele faz parar o efeito de carregamento da página-->
		<h1>ngCloak</h1>
		<p>Previne que variáveis do tipo {{}} sejam exibidas no browser</p>

		<p ng-cloak class="ng-cloak">{{ variavelCloak }}</p>

		<h1>ngSrc</h1>
		<img ng-src="img/{{minhaFoto}}">

		<button type="button" ng-click="minhaFoto='foto1.jpg'">Foto1</button>
		<button type="button" ng-click="minhaFoto='foto2.jpg'">Foto2</button>

	</div>


	<script src="js/angular/angular-sanitize.min.js"></script>

	<!-- controllers -->
	<script src="js/aula12Controller.js"></script>

</body>
</html>
